* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body  {
  height: 100%;
  background-color: rgb(184, 184, 184);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#control-panel {
  background: white;
  width: 100%;
  
  max-width: 300px;
  height: 785px;
  
  background-color: rgb(250, 250, 250);
  display: flex;
  padding: 10px;
  margin: 5px;
  gap: 10px;
  flex-direction: column;
}

#canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-right: 5px;
}

button {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

input[id^="cell"] {
  width: 67px;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 250px;
}

.step {
  width: 50px;
}

.gap {
  gap: 10px;
}

#z-val {
  width: 40px;
  margin-left: 10px;
}



